<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container mt-1">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="{% url 'home:home' %}">Home</a>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                {% if request.user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'accounts:profile' %}">Profile</a></li>
                    <li><a class="nav-link" href="{% url 'accounts:edit_profile' %}">Edit profile</a></li>
                    <li><a class="nav-link" href="{% url 'accounts:change_password' %}">Change password</a></li>
                    <li><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
                {% else %}
                    <li><a class="nav-link" href="{% url 'accounts:registration' %}">Registration</a></li>
                    <li><a class="nav-link" href="/accounts/password_reset/">Reset password</a></li>
                    <li><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>

                {% endif %}
            </ul>
        </div>

        {#            {% if messages %}#}
        {#                {% for message in messages %}#}
        {#                    <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>#}
        {#                {% endfor %}#}
        {#             {% endif %}#}
    </nav>


</div>

<div class="container">

    {% block containt %}

    {% endblock %}
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

{% block script %}

{% endblock %}


</body>
<head>

    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
    
    {% block stylesheet %}
    
    {% endblock %}

    <meta charset="UTF-8">
    {% block title %}
        <title>Title</title>
    {% endblock %}
</head>
</html>